{% extends "base.html" %}

{% block title_css %}
<title>CMX</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@400&display=swap" />
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock title_css %}

{% block main %}
<main>
    <div class="bot-info-container">
        <div class="bot-base-info-container">
            <table>
                <thead>
                    <tr class="container-header">
                        <th>Bot information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Status: </td>
                        <td>{{ status }}</td>
                    </tr>
                    <tr>
                        <td>Pair: </td>
                        <td>{{ pair }}</td>
                    </tr>
                    <tr>
                        <td>Balance(q): </td>
                        <td>{{ balanceq }}</td>
                    </tr>
                    <tr>
                        <td>Balance(b): </td>
                        <td>{{ balanceb }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bot-actions-container">
            <table class="actual-actions">
                <thead>
                    <tr class="container-header">
                        <th>Actual state</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Orders amount: </td>
                        <td>{{ actual.orders_amount }}</td>
                    </tr>
                    <tr>
                        <td>Avg order price: </td>
                        <td>{{ actual.avg_order_price }}</td>
                    </tr>
                    <tr>
                        <td>Min. price for sell: </td>
                        <td>{{ actual.closest_s_line }}</td>
                    </tr>
                    <tr>
                        <td>Min. price for average: </td>
                        <td>{{ actual.closest_a_line }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="last-action-container">
            <table class="actual-actions">
                <thead>
                    <tr class="container-header">
                        <th>Last action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Type: </td>
                        <td>{{ last_action.type }}</td>
                    </tr>
                    <tr>
                        <td>Date: </td>
                        <td>{{ last_action.date }}</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- last actions content -->
    </div><!-- bot actions container -->
    <div class="graph-container">
        <div class="container-header"><b>Graph</b></div>
        <div class="graph">will be available soon...</div>
    </div>
</main>
{% endblock main %}