{% extends "base.html" %}

{% block title_css %}
<title>CMX</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@400&display=swap" />
<link rel="stylesheet" href="/static/css/settings.css" />
{% endblock title_css %}

{% block main %}
<main>
    <div class="settings-title-text">-settings-</div>
    <div class="bot-configuration-container">
        <div class="container-header"><b>Bot configuration</b></div>
        <form action="/settings" method="post" id="config" , autocomplete="off" class="bot-configuration-form">
            <div class="parameter">
                <label class="content-name">Pair [str]</label>
                <input class="content-value" name="symbol" value="{{ symbol }}"></input>
            </div>
            <div class="parameter">
                <label class="content-name">Interval [int]</label>
                <input class="content-value" name="interval" value="{{ interval }}"></input>
            </div>
            <div class="parameter">
                <label class="content-name">OrderPrice [float]</label>
                <input class="content-value" name="amountBuy" value="{{ amountBuy }}"></input>
            </div>
            <div class="parameter">
                <label class="content-name">RSI [int]</label>
                <input class="content-value" name="RSI" value="{{ RSI }}"></input>
            </div>
            <div class="parameter">
                <label class="content-name">BuyStep [float]</label>
                <input class="content-value" name="stepBuy" value="{{ stepBuy }}"></input>
            </div>
            <div class="parameter">
                <label class="content-name">SellStep [float]</label>
                <input class="content-value" name="stepSell" value="{{ stepSell }}"></input>
            </div>
            <div class="parameter">
                <label class="content-name">TelegramNotifies [bool]</label>
                <input class="content-checkbox" type="checkbox" name="send_notify" checked></input>
            </div>
        </form>
        <button class="save-button" type="save-settings" form="config">-save-</button>
    </div>
    </div>
    </div>

</main>
{% endblock main %}