@import url('styles.css');


tbody {
    padding: 5px;
    box-shadow: 0px 0px 15px var(--not-active-text-color);
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--not-active-text-color);
}

tr {
    display: flex;
    justify-content: space-between;
}

.container-header {
    color: var(--special-element-color);
}

.bot-info-container {
    display: flex;
    justify-content: space-between;
}

.graph-container {
    margin-top: 30px;
    
}

.graph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 7px;
    width: 1000px;
    height: 300px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--not-active-text-color);
}