@import url('styles.css');


input {
    font-family: "Bitcount Grid Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    background-color: var(--icon-link-element-color);
    border: 1px solid black;
    border-radius: 5px;
    text-align: right;
    width: 200px;
    color: var(--text-color);
}

.settings-title-text {
    margin-bottom: 20px;
    font-size: 46px;
    display: flex;
    justify-content: center;
    color: var(--special-element-color);
}

.bot-configuration-form {
    padding: 10px;
    background-color: var(--not-active-text-color);
    font-size: 24px;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px var(--not-active-text-color);

}

.parameter {
    display: flex;
    justify-content: space-between;
    margin: 3px 0px;
}

.content-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none;
    position: relative;
    text-align: center;
    padding: 0px 8px;

    &:checked::before {
        content: "o";
        /* Стили для галочки */

    }
}

.container-header {
    margin-bottom: 5px;
    color: var(--special-element-color);
}